# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media uploads
media/
gradapp/media/

# Static collected files
staticfiles/
collected_static/

# VS Code / Visual Studio
.vscode/
.vs/

# OS files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
.env.*

db.sqlite3
gradapp/db.sqlite3